@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: white;
    /* color: var(--color-white); */
    line-height: 1.7;
}

.stack-style {
    padding: 0 1rem 4rem 1rem;
    justify-content: center;
    align-items: center;
    display: grid;
    /* background: #0A192F; */
    min-height: 900px; /* Add this line to make it longer */
}


.stack-grid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
    align-self: start;
}

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: #5EF2D0;
}

.feature-stack {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: black;
    cursor: pointer;
    height: 650px;
}

.feature-stack p{
    font-size: small;
}

.experience__content{
    width: 450px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 2rem;
   
}

.sendMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    /* margin-top: 90%; */
}


.username{
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
    font-family: "Poppins";
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0.5rem;
}

.message{
    margin-left: 10px;
    font-family: "Poppins";
    height: 40px;
    width: 250px;
    margin-top: 0%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0.5rem;
}

.sendbutton{
    background-color: #fff;
    border-radius: 5px;
    border: #ADD8E6 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 40px;
    max-height: 100%;
    display: inline;
    font-family: "Poppins";
    float: right;
    margin-right: 18px;
    margin-top: 0%;
}

.refresh{
    background-color: #fff;
    border-radius: 5px;
    border: #ADD8E6 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 40px;
    max-height: 100%;
    display: inline;
    font-family: "Poppins";
    margin-top: 2%;
    margin-left: 35%;
}

ul{
    /* height: 400px;
    overflow-y:scroll;
    margin-left: -7%; */
    /* display: grid; */

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    height: 400px;
    overflow-y: scroll;
}

.list{
    background-color: rgb(145, 195, 224);
    border-radius: 5px;
    border: #ADD8E6 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px; */
    max-width: 150px;
    min-width: 80px;
    height: fit-content;
    font-family: 'Poppins';
    font-size: 15px;
    float: right;
    list-style: none;
    margin-bottom: 5px;
    /* margin-right: 2%;
    margin-left: 30%; */
    word-wrap: break-word;

    /* text-align: justify; */
    /* inline-size: 180px;  */
    /* padding-top: 5px; */
    /* display: grid; */
    /* text-align: justify; */

    float: none;
    align-self: flex-end;
    margin-left: 65%;
    margin-right: 2%;
}

.list2{
    background-color: rgb(182, 205, 213);
    border-radius: 5px;
    border: #ADD8E6 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px; */
    max-width: 100%;
    min-width: 80px;
    height: fit-content;
    font-family: 'Poppins';
    font-size: 15px;
    float: left;
    list-style: none;
    margin-bottom: 5px;
    /* margin-right:40%;
    margin-left: 0%; */
    word-wrap: break-word;

    /* text-align: justify; */
    /* inline-size: 180px;  */
    /* padding-top: 5px; */
    /* display: grid; */
    /* text-align: justify; */

    float: none;
    align-self: flex-start;
    margin-left: 2%;
    margin-right: 65%;
}

.line{
    width: 100%;
}

.ud{
    color: rgb(76, 65, 235);
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 11px;
    text-align: end;
}

.ud2{
    color: rgb(76, 65, 235);
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 11px;
    text-align: start;
}

.md{
    margin-top: 0%;
    text-align: right;
    margin-bottom: 0%;
    /* animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite; */
    /* display: justify; */
    /* font-size: 9px; */
}

.md2{
    margin-top: 0%;
    text-align: left;
    margin-bottom: 0%;
    /* animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite; */
    /* display: justify; */
    /* font-size: 9px; */
}

.time{
    font-size: 10px;
    color: black;
    margin-top: 0%;
    margin-bottom: 0%;
}

@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;
    }
}

/* ------------------Media Query (Medium Devices)---------------- */
@media screen and (max-width: 600px){
    .stack-grid{
        margin-top: 1rem;
    }

    .stack-style{
        min-height: 1000px;
    }
    .experience__container{
        gap: 1rem;
    }

    .experience__container > div{
        width: 85%;
        padding: 2rem 1rem;
    }  

    .experience__content{
        margin-right: 3rem;
        width: 100%;
    }

    .duplicate{
        width: 80%;
        margin-left: 10%;
    }

    ul{
        height: 300px;
    }
    .list2{
        margin-right: 70%;
    }
}
